:global * {
  cursor:url("https://artwork.neocities.org/pixels/cursors/liltwins.png"), auto !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 21%;
}

.container.active {
  animation: vibration 0.5s ease forwards;
}

@keyframes vibration {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95, 1.05);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  70% {
    transform: scale(0.9, 1.1);
  }
  100% {
    transform: scale(1);
  }
}

.container .giftBox {
  position: absolute;
  height: 170px;
  width: 260px;
  background: #e0b2b2;
  border-radius: 0 0 12px 12px;
  animation: bounce 3.5s ease infinite forwards;
}

@keyframes bounce {
  0% {
    transform: translateY(-24px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-24px);
  }
}

.giftBox.active {
  animation: none;
}

.giftBox::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 170px;
  background: #ce6247;
  border-radius: 0 0 8px 8px;
  left: 112px;
}

.giftBox::after {
  content: "";
  position: absolute;
  box-shadow: inset 0 14px rgba(0, 0, 0, 0.2);
  width: 260px;
  height: 180px;
  left: 0px;
}

.click {
  position: absolute;
  width: 290px;
  height: 60px;
  background: #f3bdbd;
  border-radius: 10px;
  top: -60px;
  left: -15px;
  cursor: pointer !important;
  z-index: 1;
  transition: 0.5s ease;
}

.click.active {
  transition-delay: 0.5s;
  transform: translateY(-230px);
}

.click::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 60px;
  border-radius: 8px 8px 0 0;
  background: #e76f51;
  left: 127px;
  z-index: 2;
}

.click::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 0;
  border-bottom: 60px solid #e76f51;
  border-top: 60px solid #e76f51;
  border-left: 0 solid transparent;
  border-right: 60px solid transparent;
  border-radius: 20px;
  transform: rotate(-90deg);
  top: -91px;
  left: 116px;
  z-index: 3;
}

.container .shadow {
  content: "";
  position: absolute;
  width: 280px;
  height: 35px;
  background: rgba(0, 0, 0, 0.2);
  top: 100px;
  border-radius: 50%;
  animation: bounceOut 3.5s ease infinite forwards;
  z-index: -1;
}

@keyframes bounceOut {
  0% {
    transform: translateY(24px) scale(0.8);
  }
  50% {
    transform: translateY(0px) scale(1);
  }
  100% {
    transform: translateY(24px) scale(0.8);
  }
}

.container .shadow.active {
  animation: none;
}

.boxStar {
  animation: starRotate1 1.5s ease-in-out infinite;
  background-color: #fdff88;
  clip-path: polygon(
    50% 0,
    65% 35%,
    100% 50%,
    65% 65%,
    50% 100%,
    35% 65%,
    0 50%,
    35% 35%
  );
  transform: scale(0);
  position: absolute;
}

.boxStar-2,
.boxStar-4,
.boxStar-5 {
  animation-name: starRotate2;
}

.boxStar-1 {
  animation-delay: calc(1.5s * 0.5);
  animation-duration: 3s;
  top: -3em;
  left: -9em;
  width: 1.5em;
  height: 1.5em;
}

.boxStar-2 {
  animation-delay: calc(1.5s * 0.125);
  animation-duration: 3s;
  top: -12em;
  left: -10.5em;
  width: 1.75em;
  height: 1.75em;
}

.boxStar-3 {
  animation-delay: calc(1.5s * 0.25);
  animation-duration: 3s;
  top: -11em;
  left: 8.6em;
  width: 1.25em;
  height: 1.25em;
}

.boxStar-4 {
  animation-duration: 3s;
  top: -17.5em;
  left: 2em;
  width: 1.75em;
  height: 1.75em;
}

.boxStar-5 {
  animation-delay: calc(1.5s * 0.375);
  animation-duration: 3s;
  top: -6em;
  left: 6.5em;
  width: 2.5em;
  height: 2.5em;
}

#app-root.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

@keyframes starRotate1 {
  from {
    transform: scale(0) rotate(0);
  }
  25% {
    animation-timing-function: ease-out;
    transform: scale(1) rotate(0.25turn);
  }
  50%,
  to {
    transform: scale(0) rotate(0.5turn);
  }
}

@keyframes starRotate2 {
  from {
    transform: scale(0) rotate(0);
  }
  25% {
    animation-timing-function: ease-out;
    transform: scale(1) rotate(-0.25turn);
  }
  50%,
  to {
    transform: scale(0) rotate(-0.5turn);
  }
}

.boxStar.active {
  animation: none;
}

body {
  transition: opacity 0.5s ease;
}

body.fade-out {
  opacity: 0;
}

@media (max-width: 3100px) {
  .container {
    bottom: 20%;
  }
}

@media (max-width: 1980px) {
  .container {
    bottom: 27%;
    /* width: 70%; */
  }
}
