body {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Mudado de center para flex-start */
  background-image: url("/Presente-react/imagens/background-desktop.png");
  min-height: 100vh; /* Mudado de height para min-height */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Sono", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  overflow-y: auto; /* Adicionado para garantir rolagem vertical */
}

.container1 {
  /* max-width: 100%; */
  margin: 20px auto;
  width: 950px;
  /* margin: auto; */
  padding: 50px 0;
}

.container1 .image-container {
  columns: 3 250px;
  gap: 30px;
  margin-bottom: 30px;
}

.container1 .image-container img {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 20px;
}

.thumbnail {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s;
  /* borda */
  border: 4px solid #afc099;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
  display: flex;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox.active {
  display: flex;
}

.lightbox-img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Telas médias (até 1224px) → Duas colunas */
@media (max-width: 1224px) {
  .container1 {
    columns: 3 150px;
    gap: 12px;
    width: 670px;
  }
  .container1 .image-container img {
    margin-bottom: 15px;
  }
}

/* Telas menores (até 768px) → Apenas uma coluna */
@media (max-width: 768px) {
  .container1 {
    columns: 3 150px;
    gap: 12px;
    width: 600px;
  }

  .container1 .image-container img {
    margin-bottom: 15px;
  }

  .thumbnail {
    width: 90%;
    max-width: 250px;
  }
}

/* Telas muito pequenas (até 480px) */
@media (max-width: 480px) {
  .container1 {
    /* columns: 3 150px; */
    width: 100%;
    padding: 20px;
    margin-bottom: 60px;
  }

  .thumbnail {
    width: 100%;
    max-width: 250px;
  }
}

@media (max-width: 380px) {
  .container1 {
    /* columns: 3 150px; */
    width: 100%;
    padding: 20px;
    margin-bottom: 60px;
  }
}

/* animação de scroll */
.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
