@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* margin: 50px; */
  padding: 0;
  overflow: hidden;
  position: fixed;
  font-family: "Nunito", sans-serif;
}

.container {
  position: relative; /* torna o .container um ponto de referência para o posicionamento absoluto */
  width: 960px;
  height: 600px;
  margin: 60px auto;
  padding: 11px;
  /* z-index: 1; */
  background-image: url(../imagens/bg14.png);
  font-family: "Nunito", sans-serif;
}

/* TOPO */
.container::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url("../imagens/f-ue.gif");
  background-repeat: repeat-x;
  z-index: -1;
}

/* BASE */
.container::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url("../imagens/f-ue.gif");
  background-repeat: repeat-x;
  transform: rotate(180deg);
  transform-origin: center;
  z-index: -1;
}

/* LATERAL ESQUERDA */
.container .side-left {
  content: "";
  position: absolute;
  top: 600px;
  left: -16px;
  width: 600px;
  height: 100%;
  background-image: url("../imagens/f-ue.gif");
  background-repeat: repeat-x;
  transform: rotate(270deg);
  transform-origin: top left;
  z-index: -1;
}

/* LATERAL DIREITA */
.container .side-right {
  content: "";
  position: absolute;
  top: 600px;
  right: -10px;
  width: 600px;
  height: 100%;
  background-image: url("../imagens/f-ue.gif");
  background-repeat: repeat-x;
  transform: rotate(90deg);
  transform-origin: top right;
  z-index: -1;
}

.clouds {
  z-index: -2;
}

.divider {
  text-align: center;
  width: 100%;
  height: 4%;
  margin-top: 32px;
}

.div1 {
  position: relative;
  top: -20px;
  /* display: none; */
}

.div2 {
  position: relative;
  top: -20px;
}

.div3 {
  position: relative;
  top: -20px;
}

.mensagem-inicial {
  margin-top: 100px;
  text-align: center;
  font-size: 1.2em;
  color: #a0b18b;
  margin-bottom: 20px;
}

main {
  padding: 20px;
  position: relative;
  min-height: 300px;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente (se a main tiver altura definida) */
}

.imagem-inferior-esquerda {
  position: absolute;
  bottom: -45px;
  left: -70px;
  max-width: 145px;
  height: auto;
}

.start-btn {
  width: 100%;
  border: none;
  background-color: #a0b18b;
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
  transition: all ease 0.2s;
  box-shadow: 0px 5px 0px 0px #8b9b79;
  font-family: "Nunito", sans-serif;
  /* display: none; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.start-btn:hover {
  transform: translate(-0em, 0.06em);
  box-shadow: 0em 0.3em #818f71;
}

.start-btn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #818f71;
}

/* QUIZ */
.quiz-container {
  background-color: #a0b18b;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  width: 85%;
  max-width: 700px;
  margin: auto;
  /* display: none; */
  min-height: 200px;
  padding: 20px 35px;
  box-sizing: border-box;
}

.question {
  font-size: 1.2em;
  margin-bottom: 25px;
  font-weight: bold;
}

.answers button {
  background-color: rgba(255, 255, 255, 0.12);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 22px;
  margin: 8px 0;
  /* cursor: pointer; */
  font-size: 1em;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  /* font-weight: 600; */
  transition: all 0.35s ease;
  /* display: block; */
  width: 100%;
  text-align: center;
  /* line-height: 1.2; */
  word-wrap: break-word;
}

.answers button:hover {
  transform: scale(1.025);
}

.answers button.correct {
  color: rgb(73, 121, 84);
}

.answers button.wrong {
  color: #ffffff;
}

.next-btn,
.retry-btn {
  display: block;
  margin: auto;
  width: 25%;
  border: none;
  background-color: #252a3852;
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 7px;
  font-size: 0.9em;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
  transition: all ease 0.2s;
  box-shadow: 0px 5px 0px 0px #1f232869;
  /* display: none; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.next-btn:hover,
.retry-btn:hover {
  transform: translate(-0em, 0.06em);
  box-shadow: 0em 0.3em #1f23287e;
}

.next-btn:active,
.retry-btn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #1f23287e;
}

#finish-button {
  width: 40%;
}

/* botao "Refazer quiz" */
.retry-btn {
  width: 60%;
  margin-bottom: 30px;
}

.results-container {
  flex-direction: column;
  text-align: center;
  background-color: #a0b18b;
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  width: 85%;
  max-width: 400px;
  margin: auto;
  /* display: none; */
  min-height: 200px;
  padding: 20px 30px;
  box-sizing: border-box;
}

/* .results-container h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #f7e6c4;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
} */

.results-container p {
  font-size: 1.1em;
  margin-bottom: 15px;
  line-height: 1.5;
}

.results-container .result-image {
  max-width: 180px;
  height: auto;
  margin: 25px 0 30px 0;
}

.feedback {
  margin-top: 15px;
  font-size: 1em;
  text-align: center;
}

@media (max-width: 1150px) {
  .container {
    max-width: 70%;
    /* max-height: 80%; */
    padding: 11px 9px;
  }

  .divider {
    height: 4%;
    margin-top: 22px;
  }

  .div3 {
    display: none;
  }

  main {
    padding: 5px;
  }

  .quiz-container {
    width: 480px;
    height: auto;
    padding: 20px 50px;
  }

  .mensagem-inicial {
    margin-top: 100px;
    font-size: 1em;
  }

  .question {
    font-size: 1em;
  }

  .answers button {
    font-size: 1em;
    padding: 10px;
  }

  .feedback {
    font-size: 1em;
  }

  .next-btn,
  .retry-btn {
    width: 40%;
    font-size: 1em;
  }

  .next-btn:active,
  .retry-btn:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #1f23287e;
  }

  .retry-btn {
    width: 45%;
  }

  /*coelho*/
  .imagem-inferior-esquerda {
    position: absolute;
    bottom: -40px;
    left: -48px;
    max-width: 100px;
    height: auto;
  }
}

/* @media (min-width: 769px) and (max-width: 1004px) {
  .div3 {
    display: none;
  }
} */

@media (max-width: 768px) {
  .container {
    /* max-width: 55%; */
    padding: 11px 9px;
  }

  main {
    padding: 5px;
  }

  .quiz-container {
    width: 90%;
    padding: 20px 25px;
    height: auto;
  }

  .div2 {
    display: none;
  }

  .div3 {
    display: none;
  }

  .mensagem-inicial {
    margin-top: 100px;
    font-size: 1em;
  }

  .question {
    font-size: 1em;
  }

  .answers button {
    font-size: 1em;
    padding: 12px;
  }

  .feedback {
    font-size: 1em;
  }

  .next-btn,
  .retry-btn {
    width: 40%;
    font-size: 1em;
  }

  .next-btn:active,
  .retry-btn:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #1f23287e;
  }

  .retry-btn {
    width: 70%;
    margin-bottom: 30px;
  }

  #finish-button {
    width: 65%;
  }

  .divDoBotao {
    bottom: 20px;
    left: 20px;
    /* left: 50%; centraliza o botao horizontalmente */
    /* transform: translateX(-50%); centraliza o botao horizontalmente */
  }

  /* diminui o tamanho do botao */
  /* .botao img {
    width: 40px;
    height: 40px;
  } */
}

@media (max-width: 480px) {
  .container {
    padding: 11px 9px;
    width: 100%;
    height: 600px;
    margin-top: 0px;
  }

  main {
    padding: 10px;
  }

  .divider {
    height: 1%;
    margin-top: 32px;
    transform: scale(0.85);
  }

  .div1 {
    position: relative;
    top: -30px;
  }

  .quiz-container {
    width: 100%;
    height: auto;
    padding: 15px 20px;
  }

  .mensagem-inicial {
    margin-top: 100px;
    font-size: 1em;
  }

  .question {
    font-size: 1em;
    margin-bottom: 10px;
  }

  .answers button {
    font-size: 1em;
    padding: 12px 15px;
    margin: 4px 0;
  }

  .feedback {
    font-size: 1em;
  }

  .next-btn,
  .retry-btn {
    width: 50%;
    font-size: 1em;
  }

  .next-btn:active,
  .retry-btn:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #1f23287e;
  }

  .retry-btn {
    width: 60%;
    margin-bottom: 30px;
  }

  #finish-button {
    width: 70%;
  }

  .imagem-inferior-esquerda {
    position: absolute;
    left: -44px;
  }

  .divDoBotao {
    bottom: 4px;
    /* left: 20px; */
    left: 50%; /* centraliza o botao horizontalmente */
    transform: translateX(-50%); /* centraliza o botao horizontalmente */
  }

  /* diminui o tamanho do botao */
  .botao img {
    width: 40px;
    height: 40px;
  }
}

/* Para telas muito estreitas (Samsung S8+ e similares) */
@media (max-width: 380px) {
  .container {
    padding: 11px 9px;
    width: 90%;
    height: 550px;
    margin-top: 10px;
  }

  /* LATERAL ESQUERDA */
  .container .side-left {
    top: 550px;
    width: 550px;
  }

  /* LATERAL DIREITA */
  .container .side-right {
    top: 550px;
    width: 550px;
  }

  main {
    padding: 10px;
  }

  .quiz-container {
    width: 100%;
    height: auto;
    padding: 15px 20px;
  }

  .mensagem-inicial {
    margin-top: 100px;
    font-size: 1em;
  }

  .question {
    font-size: 1em;
    margin-bottom: 12px;
  }

  .answers button {
    padding: 8px 15px;
    font-size: 0.95em;
    margin: 4px 0;
  }

  .feedback {
    font-size: 0.85em;
    /* font-family: "Sono", sans-serif; */
  }

  .next-btn,
  .retry-btn {
    width: 60%;
    font-size: 0.95em;
  }

  .next-btn:active,
  .retry-btn:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #1f23287e;
  }

  .retry-btn {
    width: 80%;
    margin-bottom: 30px;
  }

  #finish-button {
    width: 70%;
  }

  .imagem-inferior-esquerda {
    bottom: -20px;
    left: -25px;
    max-width: 70px;
  }

  /*botão voltar*/
  .divDoBotao {
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
  }

  .botao img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 320px) {
  .nav a {
    font-size: 0.9em;
  }

  .container {
    padding: 5px 2px;
    font-size: 0.9em;
  }

  .quiz-container {
    height: auto;
  }

  .answers button {
    padding: 8px 15px;
  }

  .next-btn,
  .retry-btn {
    width: 65%;
    font-size: 0.95em;
  }

  .imagem-inferior-esquerda {
    bottom: -30px;
    left: -34px;
  }
}
