@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor:url("https://artwork.neocities.org/pixels/cursors/liltwins.png"), auto !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../imagens/background-desktop.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Sono", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.divDoBotao {
  position: absolute; /* Torna possível posicionar com `top` e `left` */
  left: 70px; /* Alinha à esquerda com um espaço de 20px da borda */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.botao {
  transition: transform 0.3s;
}

.botao:hover {
  transform: scale(1.05);
}

.cloud {
  position: fixed;
  right: 4em;
  animation: cloud-float 30s linear infinite;
  z-index: -1; /* Coloca as nuvens atrás de outros elementos */
  opacity: 0; /* Inicialmente as nuvens estão invisíveis */
}

@keyframes cloud-float {
  0% {
    transform: translateX(0); /* Posição inicial */
    opacity: 0; /* Inicia invisível */
  }
  25% {
    opacity: 1; /* Começa a aparecer após 30% do tempo da animação */
  }
  100% {
    transform: translateX(-140em); /* Move a nuvem para a esquerda */
    opacity: 1; /* Fica visível durante o movimento */
  }
}

.cloud-1 {
  top: 10%;
  animation-duration: 50s;
}

.cloud-2 {
  top: 20%;
  animation-delay: 8s;
  animation-duration: 60s;
}

.cloud-3 {
  top: 40%;
  animation-delay: 2s;
  animation-duration: 110s;
}

.cloud-4 {
  top: 50%;
  animation-delay: 13s;
  animation-duration: 90s;
}

/* tamanho das nuvens */
.cloud-1 img {
  width: 90px;
  height: auto;
}
.cloud-2 img {
  width: 100px;
  height: auto;
}
.cloud-3 img {
  width: 60px;
  height: auto;
}
.cloud-4 img {
  width: 60px;
  height: auto;
}

/* Tablets e laptops médios (entre 768px e 1199px) */
@media (max-width: 1199px) {
  body {
    background-image: url("../imagens/background-tablets-laptops.png"); /* Imagem para tablets */
  }
  .divDoBotao {
    top: auto; /* Remove a centralização vertical */
    bottom: 15px; /* Posiciona o botão no rodapé */
    left: 15px; /* Ajusta a margem esquerda */
  }
  .divDoBotao img {
    width: 50px;
    height: auto;
  }
}

/* Celulares grandes (entre 480px e 767px) */
@media (max-width: 768px) {
  body {
    background-image: url("../imagens/background-celulares-grandes.png"); /* Imagem para celulares grandes */
  }
}

/* Celulares pequenos (menos de 480px) */
@media (max-width: 480px) {
  body {
    background-image: url("../imagens/background-celulares-pequenos.png"); /* Imagem menor para celulares pequenos */
  }
}
